.App {
  text-align: center;
}

.App-header-logo {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-size: cover;
  background-position: 0 97.1%;
  background: url(https://www.stubhub.com/bfx/static/media/stubhub-logo-merch-purple.091ddb4e.svg) no-repeat;
  width: 96px;
  height: 44px;
}